*
!.gitignore
!.pre-commit-config.yaml
!pyproject.toml

# Python
__pycache__/
*.py[cod]
*$py.class

# Data & Artifacts
data/raw/
data/interim/
data/processed/
data/external/
data/quarantine/
outputs/
.env

# IDE & OS
.vscode/
.idea/
.DS_Store
Thumbs.db
